.git
.gitignore
.env
.env.*
!.env.example
.venv
__pycache__
backups
corpse
gods
heroes
log
player
area/webadmin.queue
area/*.dmp
*.o
merc
src/*.o
ToCBG.png
.python_history
.sleep
.sleep.save
.wakeup
SpectrumSniper_*
bettercap*
mutesleep.sh
starwars_wifi_passwords.txt
