[Unit]
Description=Detect Times of Chaos appliance network changes
Documentation=https://github.com/jeremydbean/toc2026

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=toc2026-mail@network.service

[Install]
WantedBy=timers.target
